name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: gamebacklog_db
          MYSQL_USER: user
          MYSQL_PASSWORD: password
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"

      # ----- ENV VARIABLES FOR BACKEND -----
      - name: Create .env file for backend
        run: |
          echo "DB_HOST=127.0.0.1" >> backend/.env
          echo "DB_USER=user" >> backend/.env
          echo "DB_PASSWORD=password" >> backend/.env
          echo "DB_DATABASE=mydb" >> backend/.env
          echo "DB_PORT=3306" >> backend/.env

      # ----- SEED DATABASE -----
      - name: Seed database
        run: mysql -h 127.0.0.1 -u user -ppassword gamebacklog_db < ci.seed.sql

      - name: Install root dependencies
        run: npm ci

      - name: Install backend dependencies
        run: |
          cd backend
          npm ci

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm ci
      
      - name: Install wait-on utility
        run: npm install -g wait-on
      

      # ---------- START BACKEND & FRONTEND ----------
      - name: Start backend & frontend concurrently
        run: npm run start &
        shell: bash
      
      # ----- STEP 3: WAIT FOR SERVERS -----
      - name: Wait for servers to be ready
        run: wait-on http://localhost:5173 http://localhost:5000 --timeout 60000

      # ---------- UNIT TESTS ----------
      - name: Run unit tests (backend + frontend)
        run: npm run test
